/* Regole Generali */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Header */
.nav-bar {
    background-color: #FF6900;
    padding: 20px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    color: #FFF;
}

.container.row {
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 150px;
}

/* Main */
.cards-collection {
    padding: 50px 0;
}

.cards-collection .container-row {
    margin: 0 -10px;
}

.card.col.row {
    width: calc(100% / 3);
    padding: 0 10px;
    flex-direction: column-reverse;
}