/* Regole Generali */
.container {
    /* max-width: 1400px; */
    /* margin: 0 auto; */
    /* Overflow hidden evita che mi si crei la scrollbar orizzontale quando la la width della pagina scende sotto a 1400 + valore di margin negativo */
    /* overflow: hidden; */
    /* Devo rimuoverlo sennò mi taglia il cuoricino dell'immagine - ignorerò il fatto che se vado sotto i 1400 e qualcosa px di larghezza di pagina mi si crea la scroll bar orizzontale */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

/* For mobile phones: */
[class*="col-4"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-4 {
        width: calc(100% / 2);
        padding: 50px 0 25px;
    }

    .col-4:nth-child(odd) {
        padding-right: 10px;
    }

    .col-4:nth-child(even) {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 1456px) {

    /* For desktop: */
    .col-4 {
        width: calc(100% / 3);
        padding: 50px 10px 25px;
    }

    .cards-collection .row {
        margin: 0 -10px;
    }

    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}

/* Header */
.nav-bar {
    background-color: #FF6900;
    padding: 20px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    color: #FFF;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container.flex,
.container .row {
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 150px;
}

.nav__list.flex,
.footer__list.flex {
    gap: 10px;
    color: #FFF;
    cursor: pointer;
}

.nav__profile .nav__love {
    font-size: 1.8em;
    line-height: 0.6em;
}

/* Main */
.cards-collection {
    padding-top: 80px;
}

/* .cards-collection .row {
    margin: 0 -10px;
} */

.card.col-4.row {
    flex-direction: column-reverse;
    align-items: flex-start;
    /* padding: 50px 10px 25px; */
}

.description__title {
    text-transform: uppercase;
}

.price {
    font-size: 0.8em;
}

.price .new-price {
    color: #FF0000;
    font-weight: bold;
}

.price .old-price {
    text-decoration: line-through;
}

.card__love:hover {
    color: #FF0000;
    cursor: pointer;
}

.card__image {
    position: relative;
}

.card__image img:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.card__image:hover img:last-of-type {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}


.badge {
    position: absolute;
    bottom: 45px;
    left: 0px;
}

.badge * {
    padding: 5px 10px;
    color: #FFF;
    font-weight: bold;
}

.badge__discount {
    background-color: #FF0000;
}

.badge__category {
    background-color: #008000;
}

.card__love {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 50px;
    background-color: #FFF;
    font-size: 2em;
}

/* Footer */
.footer-boolando {
    margin-top: 25px;
    padding: 30px 0;
    background-color: #1a1a1a;
    border-bottom: 1px solid #FFF;
}

.footer-boolando .container.flex {
    justify-content: space-between;
    align-items: center;
}

.copy__title,
.socials__title {
    color: #FFF;
    padding: 10px 0;
}

.footer__list.list__info {
    font-size: 0.8em;
}

.footer__list.list__info a:hover {
    text-decoration: underline;
}

.footer__list.list__social {
    font-size: 1.2em;
}